h1{
    color: rgb(229,218,218);
}
body{
    background-color: #E5E5DC;
}
h1{
   font-family: 'Open Sans', sans-serif;
}
p{
    font-family: 'Libre Baskerville', serif;
    font-size: 25px;
}
nav {
    position: sticky;
    top: 0;
  }
a:hover {
    color: #bf616a;
    text-decoration: underline #bf616a;
}