header {
  height: 50px;
  background-color: #EDDDD0;
  position: sticky;
  top: 0;
}
h1{
  color: #334259;
}

body {
    background-image: url("/pages/images/sky.jpg");
    background-position: center center; 
    background-size: 100% 100%;
    background-color: #e5e5dc;
  }

h1{
  font-family: 'Open Sans', sans-serif;
}

p{
  font-family: 'Libre Baskerville', serif;
  font-size: 25px;
  text-decoration: none;
  display: block;
  padding: 1em;
}

nav {
  position: sticky;
  top: 0;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
}

.navbar a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: #E5E5DC;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: block;
  float: left;
}


li {
  float: left;
  font-family: 'Libre Baskerville', serif;
  font-size: 20px;
}

li a {
  font-size: 15px;
  color: #DB504A;
  text-align: center;
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
}

a:hover {
  color: #DB504A;
  text-decoration: underline #DB504A;
}

a:visited{
  color: #334259;
}

.container {
  display: grid;
  grid-template-columns: 25vw auto;
  grid-template-rows: 85vh;
}

.item_1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: #EDDDD0;
}
.item_2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: #6E8783;
}

footer {
  height: 50px;
  display: flex;
  bottom: 0;
  flex-flow: row;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  background-color: #EDDDD0;
}

img {
  width: 300px;
  height: 300px;
  float: left;
}